*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size:2rem;
    letter-spacing: 1.5em;
    padding:.5em 0;
    text-transform: uppercase;
}
.container{
    height:80vh;
    display:flex;
    justify-content: center;
    align-items:center;
}
.img-container{
    width:20%;
    overflow:hidden;
    box-shadow: 0 0 10px pink;
    border-radius: 2rem;
}
#move{
    display:flex;
    transform:translateX(0px);
    transition: transform 0.3s linear;
}
img{
    width:80%;
    object-fit: cover;
}